<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
</head>
<body>
    <h1>Welcome to Project 2</h1>
    <div>
        Click this button to see demo of the addStory functionality:
        <button onclick="window.location.href='/pages/addStory.html'">To Add Story Page</button>
    </div>
</body>
</html>