<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2><%= message %></h2>

        <p>
            <% if (typeof viewStories != 'undefined' && viewStories == true) { %>
                <button onclick="redirectViewStories()" class="btn btn-primary">Go to Stories</button>
            <% } %>
            <% if (typeof home != 'undefined' && home == true) { %>
                <button onclick="redirectHome()" class="btn btn-primary">Home</button>
            <% } %>
        </p>
    </div>

    <script>
        function redirectViewStories() {
            window.location.replace("/viewStories");
        }

        function redirectHome() {
            window.location.replace("/");
        }
    </script>
</body>

</html>